
<div class="container">

    <div class="container-left">

        <ul *ngFor="let produtos of products">
         <div class="checkbox">
            <span class="top-product">
              <b>Id:</b>{{produtos.id}}
              <b>Quantidade: </b>{{produtos.qtd}}
            </span>
              <h2>{{produtos.name}}</h2>
              <h3> <b>R$: </b>{{produtos.price}}
                 <button type="submit"
                 (click)="onSelect(produtos)">Editar</button>
              </h3>
         </div>

        </ul>

    </div>

    <div class="container-right">
      <app-editar-produtos [product]="selectedProduct"></app-editar-produtos>
    </div>

</div>

