

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  width: 70%;
  background-color: #EEEEFF;
  border-radius: 24px;
  height: 900px;
  }

  .container-left {

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      width: 70%;
      border: 10px;


 }

 .checkbox{
   background-color: #FFFFFF;
    border-radius: 8px;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 4px;
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,0.39);
 }

 .checkbox button{
    margin-left: 52%;
    border-radius: 2px;
    border-color: #FFFFFF;
    background-color: #ff6500;
    color: #FFFFFF;

 }

 .checkbox h3{
    color: #ff6500;
 }

 .checkbox h2{
  color: #42464d;
 }

 .checkbox button:hover {
    position: relative;
    cursor: 	pointer;
    background-color: #c05006;
    left: .2em;

 }

 .checkbox button:active{
  background-color: #c05006;
 }
 .container-right{
  display: flex;
  width: 30%;
 }

 .container-right h1{
  margin-left: 24%;
 }

